/*body er body*/
body {
  background-color: #5a566a;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}
/* maincontent er der eg har alt innholde*/
.maincontent {
  background-color: #4c4760;
  color: #d8cffa;
  width: 180vh;
  height: 95vh;
  margin: 0 auto;
  border-radius: 25px;
}
/* deller skjermen opp i left og right*/
.left {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}

.right {
  width: 50%;
  float: right;
  text-align: center;
  position: relative;
}
/* navi til heim siden der alle linkene som tar deg til en anne page på siden ligger*/
.navi {
  background-color: #5a566a;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 2%;
  float: right;
  text-align: center;
  font-size: larger;
  padding-right:1vh ;
  padding-left:1vh ;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  border-radius: 10px;
}
.navi a {
  text-decoration: none;
  display: block;
  padding: 9px 16px;
  color: #d8cffa;
}
.navi a:hover {
  color: #9c85fb;
}
/* navi er til siden om meg der alle linkene til hovudsidene ligger dette er css-en til det
*/
.naviommeg{
  background-color: #5a566a;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 2%;
  float: left;
  text-align: center;
  font-size: larger;
  padding-right:1vh ;
  padding-left:1vh ;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  border-radius: 10px;
}

.naviommeg a {
  text-decoration: none;
  display: block;
  padding: 9px 16px;
  color: #d8cffa;
}

.naviommeg a:hover{
  color: #9c85fb;
}
/* setter blå farge på den siden du er på  
*/
#nåside{
  color: #9c85fb;
}


/* css til tekst på heim side*/

#innholdtekst{
  font-size:larger;
  color: #d8cffa;
}
#innholdtekst a{
  
  color: #d8cffa;
}
/* denne resize skjermen vist den er under 1600px width
 */
@media (max-width: 1600px) {
  #imgs {
    width: 50vh;
  }
}
