/*body er body*/
body {
  background-color: #5a566a;
  justify-content: center;
  align-items: center;
  display: flex;

  color: #d8cffa;
}
/* maincontent er der eg har alt innholde*/
.maincontent {
  background-color: #4c4760;
  color: #d8cffa;
  width: 180vh;
  height: 95vh;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
}
/* deller skjermen opp i left og right*/
.left {
  width: 50%;
  float: left;
  text-align: center;
  position: relative;
}

.right {
  width: 50%;
  float: right;
  text-align: center;
  position: relative;
}
/* dette er tleft tright og tmiddle dei blir brukt til tidligere navigations siden istedet forr right left*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.column {
  width: 33%;
  height: 100%;
  /*margin: 5px;*/
}
/* navi til heim siden der alle linkene som tar deg til en anne page på siden ligger*/
.navi {
  background-color: #5a566a;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 2%;
  float: right;
  text-align: center;
  font-size: larger;
  padding-right:1vh ;
  padding-left:1vh ;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  border-radius: 10px;
}
.navi a {
  text-decoration: none;
  display: block;
  padding: 9px 16px;
  color: #d8cffa;
}
.navi a:hover {
  color: #9c85fb;
}
/* navi er til siden om meg der alle linkene til hovudsidene ligger dette er css-en til det
*/
.naviommeg{
  background-color: #5a566a;
  margin-top: 3vh;
  margin-left: 3vh;
  margin-bottom: 3vh;
  float: left;
  text-align: center;
  font-size: larger;
  padding-right:1vh ;
  padding-left:1vh ;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
  border-radius: 10px;
}

.naviommeg a {
  text-decoration: none;
  display: block;
  padding: 9px 16px;
  color: #d8cffa;
}

.naviommeg a:hover{
  color: #9c85fb;
}
/*styling til knapper side tidligere*/

/*prog er den første knappen til programmering*/
.prog{
  padding-top: 6vh;
  padding-bottom: 6vh;
  width: 50vh;
  background-image: url("../images/prog.png");
  margin-left: 5vh;
  margin-top: 30vh;
  border-radius: 10px;
}
.prog a{
  text-decoration: none;
  color: #d8cffa;
}
.prog a:hover{
  color: #9c85fb;
}
/*tek er den andre knappen til teknologiforståelse*/
.tek{
  padding-top: 6vh;
  padding-bottom: 6vh;
  width: 50vh;
  background-image: url("../images/tek.png");
  margin-left: 5vh;
  margin-top: 30vh;
  border-radius: 10px;
}
.tek a{
  text-decoration: none;
  color: #d8cffa;
}
.tek a:hover{
  color: #9c85fb;
}
/*historiefortelling side knappen*/
.media{
  padding-top: 6vh;
  padding-bottom: 6vh;
  width: 50vh;
  background-image: url("../images/media.png");
  margin-left: 5vh;
  margin-top: 30vh;
  border-radius: 10px;
}
.media a{
  text-decoration: none;
  color: #d8cffa;
}
.media a:hover{
  color: #9c85fb;
}

/* setter blå farge på den siden du er på  
*/
#nåside{
  color: #9c85fb;
}


/* css til tekst på heim side*/

#innholdtekst{
  font-size:larger;
  color: #d8cffa;
}
#innholdtekst a{
  
  color: #d8cffa;
}
/*css til tekst på side om meg*/
#innholdtekst2{
  font-size:larger;
  color: #d8cffa;
  text-align: left;
  margin-left: 30vh;
}
#innholdtekst2 a{
  
  color: #d8cffa;
}

/*css til email skrift på om meg for en eller annen grunn*/
.email{
  text-decoration: none;
  color: #d8cffa;
  font-size: larger;
}
/*denne innhelder img tekst og alt som skal reangeres i tidligere i programmering*/
.progcontent {
  background-color: #4c4760;
  color: #d8cffa;
  width: 180vh;
  height: 175vh;
  margin: 0 auto;
  border-radius: 25px;
}
.prosjekt img{
  border-radius: 10px;
  margin-right: 3vh;
}
.prosjekt a:hover{
  filter: brightness(50%);
  color: #d8cffa;
}
.prosjekt p{
  text-align:justify;
  margin-left: 13vh;
  margin-right: 15vh;
  display:block;
}
.prosjekt a{
  color: #9c85fb;
}


/*media prosjekt css
*/
.mediacontent{
  background-color: #4c4760;
  color: #d8cffa;
  width: 180vh;
  height: 290vh;
  margin: 0 auto;
  border-radius: 25px;
}



/* denne resize skjermen vist den er under 1950px width
 */

@media (max-width: 1950px) {
  #imgs {
    width: 50vh;
  }
}